.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
  flex-direction: column;
  height: 60vh;
  gap: 1rem;
  margin-top: 3rem;
  border-radius: 10px;
    div {
        width: 55%;
      gap: 10px;
      display: flex;
      input {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        background: transparent;
        color: white;
        border: 2px solid #334155;
        transition: 0.4s;

        &:hover {
          border-color: #38bdf8;
          box-shadow: 0 0 10px #38bdf8;
        }
      }

      button {
        width: 100%;
        background-color: black;
        color: wh;
      }
    }

  a {
    color: whitesmoke;
  }
}
