.todo_manage_search {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1100px) {
  .todo_manage_search {
    flex-direction: column;
  }
}

.todo_manage_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .todo_card {
    background: #151a1f;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid transparent;

    &:hover {
      transform: translateY(-5px);
      border-color: #6a5af9;
      box-shadow: 0 0 15px rgba(106, 90, 249, 0.3);
    }

    .todo_status {
      display: flex;
      justify-content: space-between;

      .priority {
        color: #000;
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: bold;
      }
    }

    h3 {
      margin-top: 10px;
      color: #fff;
      font-size: 18px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .description {
      color: rgba(240, 248, 255, 0.7);
      font-size: 13px;
      margin-top: 5px;
      font-family: monospace;
    }

    .todo_action {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 10px;

      .edit_btn {
        background: rgba(106, 90, 249, 0.15);
        color: #6a5af9;

        &:hover {
          background: #6a5af9;
          color: #fff;
        }
      }

      .delete_btn {
        background: rgba(255, 77, 77, 0.15);
        color: #ff4d4d;

        &:hover {
          background: #ff4d4d;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .todo_manage_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 720px) {
  .todo_manage_container {
    grid-template-columns: 1fr;
  }
}
