/* CARD */
.todo-card {
  width: 100%;
  max-width: 100%;
  background: #161a1d;
  border: 1px solid #24292e;
  border-radius: 16px;
  padding: 1.2rem;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.55);
}

@media (min-width: 768px) {
  .todo-card {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
  }
}

/* HEADER */
.todo-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1.2rem;

  h1 {
    color: #38bdf8;
    font-size: 1.3rem;
  }

  .status {
    width: fit-content;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;

    &.completed {
      background: rgba(34, 197, 94, 0.15);
      color: #22c55e;
    }
    &.pending {
      background: rgba(234, 179, 8, 0.15);
      color: #eab308;
    }
  }
}

@media (min-width: 640px) {
  .todo-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 1.8rem;
    }
  }
}

/* GRID */
.todo-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 640px) {
  .todo-info-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.info-box {
  background: #161a1d;
  border: 1px solid #24292e;
  border-radius: 12px;
  padding: 0.8rem;

  p {
    color: #9ca3af;
    font-size: 0.7rem;
  }
  h3 {
    color: #f3f4f6;
  }

  .category {
    color: #a78bfa;
  }

  .priority.high {
    color: #f87171;
  }
  .priority.medium {
    color: #fbbf24;
  }
  .priority.low {
    color: #4ade80;
  }
}

/* DESCRIPTION */
.todo-description {
  border: 1px solid #24292e;
  border-radius: 12px;
  padding: 0.6rem;
  margin: 0 -1rem;
  height: 80vh;
  overflow: auto;

  p {
    color: #9ca3af;
    padding: 0 1rem;
  }

  pre {
    margin-top: 10px;
    background: #0f1214;
    white-space: pre-wrap;
    word-break: break-word;
    color: #e5e7eb;
    line-height: 1.6;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    max-width: 100%;
    overflow-x: auto;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .todo-description {
    margin: 0;
    padding: 1rem;
  }
}
